/*
.bg-fx {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  /* Gradiente Principal: Verde topo → Preto embaixo *//*
  background:
    radial-gradient(
      ellipse at center top,
      rgba(0, 255, 140, 0.018) 0%,
      rgb(19, 19, 19)
    ),
    linear-gradient(to bottom, #0b0b1a 0%, #000000 100%);

  /* Escurece as laterais (vinheta elegante) *//*
  mask-image:
    radial-gradient(
      ellipse at center,
      rgb(0, 0, 0) 0%,
      transparent 170%
    );
}

/*
.bg-fx {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background:
    radial-gradient(
      600px at 50% 0%,
      rgba(0, 255, 140, 0.018),
      rgba(0, 0, 0, 0.542) 70%
    ),
    linear-gradient(to bottom, #00ff9d 0%, #000000 100%);
}

*/